.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: 
    linear-gradient(rgba(142, 99, 99, 0.7), rgba(241, 235, 235, 0.7)),
    url('/login.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  margin: 0;
  box-sizing: border-box;
  overflow: auto;
  animation: fadeIn 0.8s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home-header {
  text-align: center;
  margin-bottom: 30px;
}

.welcome-sign {
  background: linear-gradient(135deg, #dc2626 0%, #991b1b 100%);
  color: white;
  border: none;
  padding: 140px 240px;
  border-radius: 8px;
  font-size: 50px;
  font-weight: 600;
  cursor: auto;
  transition: all 0.3s ease;
  margin-top: 10px;
}